{#
 # Sharif Judge
 # file: add_user_result.twig
 # author: Mohammad Javad Naderi <mjnaderi@gmail.com>
 #}
{% if ok %}
<p class="shj_ok">These users added successfully:</p>
<ol>
	{% for item in ok %}
	<li>Usename: {{ item[0] }} Email: {{ item[1] }} Password: <code>{{ item[2] }}</code> Role: {{ item[3] }}</li>
	{% endfor %}
</ol>
{% endif %}
{% if error %}
<p class="shj_error">Error adding these users:</p>
<ol>
	{% for item in error %}
	<li>Usename: {{ item[0] }} Email: {{ item[1] }} Password: <code>{{ item[2] }}</code> Role: {{ item[3] }} ({{ item[4] }})</li>
	{% endfor %}
</ol>
{% endif %}